<!-- views/partials/footer.ejs -->
</main>  <!-- header.ejsで開いた<main>を閉じる -->

<footer class="bg-secondary text-white text-center p-2 py-3 mt-auto">
    <small> TCU SDPBL</small>
</footer>
</body>
</html>